.version.index /* version checker */
{
	color: #0000E9;
	background-color: #C46ED9;
}

#page
{
	min-height: 438px;
	z-index: 1;
	background-image: none;
	margin-right: auto;
	margin-left: auto;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
}

#u94
{
	margin-right: -10000px;
	z-index: 2;
	position: relative;
	margin-top: 20px;
	background-color: transparent;
}

#u214
{
	margin-right: -10000px;
	z-index: 4;
	position: relative;
	margin-top: 293px;
	height: 34px;
}

.ie #u214
{
	filter: alpha(opacity=1);
	background-color: #FFFFFF;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	opacity: 0.01;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 476px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 100%;
		max-width: 960px;
	}

	#u94
	{
		width: 45.84%;
		margin-left: 27.09%;
		left: 0px;
	}

	#u94_img
	{
		width: 100%;
	}

	#u214
	{
		width: 11.36%;
		left: 33.13%;
	}

}

@media (min-width: 378px) and (max-width: 475px)
{
	#muse_css_mq
	{
		background-color: #0001db;
	}

	#bp_475.active
	{
		display: block;
	}

	#page
	{
		width: 377px;
	}

	#u94
	{
		width: 218px;
		left: 80px;
	}

	#u214
	{
		width: 43px;
		left: 125px;
	}

	body
	{
		min-width: 377px;
	}

}

@media (min-width: 321px) and (max-width: 377px)
{
	#muse_css_mq
	{
		background-color: #000179;
	}

	#bp_377.active
	{
		display: block;
	}

	#page
	{
		width: 320px;
	}

	#u94
	{
		width: 217px;
		left: 51px;
	}

	#u214
	{
		width: 36px;
		left: 106px;
	}

	body
	{
		min-width: 320px;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		width: 100%;
		max-width: 320px;
	}

	#u94
	{
		width: 67.82%;
		margin-left: 16.1%;
		left: -1px;
	}

	#u94_img
	{
		width: 100%;
	}

	#u214
	{
		width: 11.25%;
		left: 33.13%;
	}

	body
	{
		min-width: 320px;
	}

}

