.version.menu_route_options /* version checker */
{
	color: #0000EB;
	background-color: #ED7025;
}

#page
{
	z-index: 1;
	background-image: none;
	margin-right: auto;
	margin-left: auto;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
}

#u444
{
	margin-right: -10000px;
	z-index: 2;
	position: relative;
	margin-top: 293px;
	height: 34px;
}

#u442
{
	margin-right: -10000px;
	z-index: 3;
	position: relative;
	margin-top: 20px;
	background-color: transparent;
}

#u445
{
	margin-right: -10000px;
	z-index: 5;
	position: relative;
	margin-top: 138px;
	height: 583px;
}

#u446
{
	margin-right: -10000px;
	z-index: 6;
	position: relative;
	margin-top: 669px;
	height: 40px;
}

#u490
{
	margin-right: -10000px;
	z-index: 7;
	position: relative;
	margin-top: 709px;
	height: 38px;
}

.ie #u444,.ie #u445,.ie #u446,.ie #u490
{
	filter: alpha(opacity=1);
	background-color: #FFFFFF;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	opacity: 0.01;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 476px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 438px;
		width: 100%;
		max-width: 960px;
	}

	#u444
	{
		width: 11.36%;
		left: 33.13%;
	}

	#u442
	{
		width: 45.84%;
		left: 27.09%;
	}

	#u442_img
	{
		width: 100%;
	}

	#u445
	{
		width: 6.15%;
		left: 62.92%;
	}

	#u446
	{
		width: 9.38%;
		left: 53.55%;
	}

	#u490
	{
		width: 3.65%;
		left: 36.15%;
	}

}

@media (min-width: 378px) and (max-width: 475px)
{
	#muse_css_mq
	{
		background-color: #0001db;
	}

	#bp_475.active
	{
		display: block;
	}

	#page
	{
		width: 377px;
		min-height: 438px;
	}

	#u444
	{
		width: 43px;
		left: 125px;
	}

	#u442
	{
		width: 173px;
		left: 102px;
	}

	#u445
	{
		width: 23px;
		left: 237px;
	}

	#u446
	{
		width: 35px;
		left: 202px;
	}

	#u490
	{
		width: 14px;
		left: 136px;
	}

	body
	{
		min-width: 377px;
	}

}

@media (min-width: 321px) and (max-width: 377px)
{
	#muse_css_mq
	{
		background-color: #000179;
	}

	#bp_377.active
	{
		display: block;
	}

	#page
	{
		width: 320px;
		min-height: 438px;
	}

	#u444
	{
		width: 36px;
		left: 106px;
	}

	#u442
	{
		width: 147px;
		left: 87px;
	}

	#u445
	{
		width: 20px;
		left: 201px;
	}

	#u446
	{
		width: 30px;
		left: 171px;
	}

	#u490
	{
		width: 12px;
		left: 116px;
	}

	body
	{
		min-width: 320px;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 658px;
		width: 100%;
		max-width: 320px;
	}

	#u444
	{
		width: 11.25%;
		left: 33.13%;
	}

	#u442
	{
		width: 45.94%;
		left: 27.19%;
	}

	#u442_img
	{
		width: 100%;
	}

	#u445
	{
		width: 6.25%;
		left: 62.82%;
	}

	#u446
	{
		width: 9.38%;
		left: 53.44%;
	}

	#u490
	{
		width: 3.75%;
		left: 36.25%;
	}

	body
	{
		min-width: 320px;
	}

}

