.version.menu_route_options /* version checker */
{
	color: #000012;
	background-color: #6D50D6;
}

#page
{
	min-height: 438px;
	margin-left: auto;
	z-index: 1;
	padding-bottom: 62px;
	margin-right: auto;
	border-width: 0px;
	width: 100%;
	border-color: #000000;
	background-color: transparent;
	background-image: none;
}

#u442
{
	margin-right: -10000px;
	z-index: 2;
	position: relative;
	background-color: transparent;
}

#u442_img
{
	width: 100%;
}

#u658
{
	margin-right: -10000px;
	z-index: 4;
	position: relative;
	width: 50px;
	height: 30px;
}

.ie #u658
{
	filter: alpha(opacity=1);
	background-color: #FFFFFF;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	opacity: 0.01;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 321px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 404px;
	}

	#u442
	{
		width: 90.85%;
		left: 4.71%;
	}

	#u658
	{
		margin-top: 573px;
		left: 84px;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		max-width: 320px;
	}

	#u442
	{
		width: 118.13%;
		left: -7.82%;
	}

	#u658
	{
		margin-top: 697px;
		left: 20px;
	}

	body
	{
		min-width: 320px;
	}

}

