	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 404px;
	}

	#u442
	{
		width: 90.85%;
		left: 4.71%;
	}

	#u658
	{
		margin-top: 573px;
		left: 84px;
	}


